<div *ngIf="isLoading" class="info-loader">
    <div class="d-flex flex-column align-items-center info-loader-header">
        <app-skeleton type="circle"></app-skeleton>
        <app-skeleton class="w-100"></app-skeleton>
    </div>
    <div class="row">
        <div class="col">
            <app-skeleton class="w-100"></app-skeleton>
        </div>
        <div class="col">
            <app-skeleton class="w-100"></app-skeleton>
        </div>
        <div class="col">
            <app-skeleton class="w-100"></app-skeleton>
        </div>
    </div>
</div>