<section class="company py-5">
    <div class="container">
        <app-search-company class="mb-3" (cnpjEmitter)="getCompany($event)"></app-search-company>
        <ng-container>
            <p class="text-center pt-5" *ngIf="emptyInfo; else templateInfo">
                Realize uma busca para as informações serem listadas ;)
            </p>
            <ng-template #templateInfo>
                <div class="d-flex justify-content-center mt-5" *ngIf="isLoading; else templateCompany">
                    <app-loading [isLoading]="isLoading"></app-loading>
                </div>

                <ng-template #templateCompany>
                    <div *ngIf="!!company" class="row mt-5">
                        <div class="text-center mb-2 mb-sm-1 mpt-3">
                            <h2>{{ company.razao_social }}</h2>
                            <h4>CNPJ: {{ company.cnpj | cnpj }}</h4>
                        </div>
                        <app-service [company]="company"></app-service>
                        <app-partners *ngIf="!!company.qsa" [partners]="company.qsa"></app-partners>
                    </div>
                    <app-template-error *ngIf="hasError"
                        [text]="'Parece que não existe nenhuma empresa com este CNPJ. Por favor, verifique e faça uma nova consulta!'">
                    </app-template-error>
                </ng-template>

            </ng-template>
        </ng-container>
    </div>
</section>