
.list-partners {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    li {
        max-width: 300px;
        width: 100%;
       .card {
        height: 120px;
        &-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
       }
    }
}