<section class="banks pt-5">
    <h2 class="text-center mb-5">Lista de todos os bancos no brasil</h2>
    <div class="container">
        <div class="text-center" *ngIf="isLoading; else templateBanks">
            <app-loading [isLoading]="true"></app-loading>
        </div>

        <ng-template #templateBanks>
            <ul class="list-unstyled row">
                <li *ngFor="let bank of banks" class="col-4 mb-3">
                    <app-card class="bank-card">
                        <h5 class="title">{{ bank.fullName}} </h5>
                        <span class="ispb"><strong>ISPB:</strong> {{ bank.ispb }}</span>
                    </app-card>
                </li>
            </ul>

            <app-template-skeleton-loader *ngIf="showTemplateLoadMore" [totalCols]="12">
            </app-template-skeleton-loader>

            <app-button-load-more [isLoadMore]="showButtonLoadMore" (loadMore)="loadMore()"></app-button-load-more>
        </ng-template>
    </div>
</section>