<section class="home py-5">
    <div class="container">
        <h2 class="text-left">Brazilian Info</h2>
        <p class="text-left">
            Esta é uma aplicação que tem como objetivo apresentar alguns dados importantes
            sobre território brasileiro. Facilitando o acesso de dados públicos para a
            comunidade de forma ágil e prática!
        </p>
        <p class="text-left">
            Lista de Informações que você vai encontrar no site:
        </p>
        <ul class="list-group">
            <li class="list-group-item">
                Consultar dados de uma empresa pelo
                <span class="text-primary fw-bold">CNPJ</span>
            </li>
            <li class="list-group-item">Informações de todos os bancos</li>
            <li class="list-group-item">Informações por código do banco</li>
            <li class="list-group-item">Taxas de Juros</li>
            <li class="list-group-item">
                Taxas de Juros pelo seu nome/sigla, exemplo:
                <span class="text-primary fw-bold">CDI</span>
            </li>
        </ul>
    </div>
</section>